<div ng-repeat="(jobName, env) in envs" class="env-plate {{env.state}}">
    <div class="info">
        <div class="name" title="Click to view links">

            <div class="content" style="display: none">
                <div><a target="_blank" ng-href="http://{{env.name}}/workcenter">SBM</a></div>
                <div><a target="_blank" ng-href="http://{{env.name}}:8085/mashupmgr">mashupmgr</a></div>
                <div><a target="_blank" ng-href="http://{{env.name}}/serena_ra">SRA</a></div>
            </div>
            <span custom-popover popover-placement="bottom" popover-label="{{env.name}}" class="custom-popover"></span>

        </div>
        <div class="upgrade">{{env.rlm.installType}}</div>
        <div class="rlmBuild">RLM {{env.rlm.version}} {{env.rlm.build}}</div>
        <div class="sbm">SBM {{env.sbm.version}} {{env.sbm.build}}</div>
        <div class="db">{{env.database.type}}</div>
        <div class="sra">SRA on {{env.sra.server}}</div>
        <div class="details">
            <div>{{details(env)}}</div>
        </div>
    </div>
    <div class="controlls">
        <div class="state">
            <a target="_blank" title="View job" ng-href="http://stl-qa-oalmsl:8080/job/{{jobName}}">
                <img ng-src="/status/{{jobName}}?{{timestamp}}"/>
            </a>
        </div>
        <div ng-class="{ 'visibility-hidden' : isBuilding(env) }" class="controll fix">
            <a href="" ng-click="resolve(env, true)" title="Mark as fixed">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div ng-class="{ 'visibility-hidden' : isBuilding(env) }" class="controll fail">
            <a href="" ng-click="resolve(env, false)" title="Mark as failed">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        <div ng-class="{ 'visibility-hidden' :isBuilding(env) }" class="controll lock">
            <a href="" ng-click="lock(env)" title="Lock">
                <span class="glyphicon glyphicon-lock"></span>
            </a>
        </div>
        <div class="locked">
            <img title="Environment is locked." ng-class="{ visible : isLocked(env) || isBuilding(env) }"
                 src="images/Human-emblem-readonly.svg">
        </div>
    </div>
</div>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#authModal">
    Debug modal
</button>
<div class="modal fade" id="authModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Sign in</h4>
            </div>
            <div class="modal-body">
                <h5>
                    Please <a href="#">sign in</a> ... or <a href="#">sign up</a>
                </h5>

                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Login" name="login">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <div class="error">
                        <spap>Unknown error occured!</spap>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</div>