<section class="dmcm">
    <h3>
        Useful notes
    </h3>

    <div class="content">
        <h4>Repository</h4>
        <p>
            Go to <em>Stream->Open Stream->This Stream</em> and choose <strong>MASHUPS:AUTOMATION_RLM</strong>
        </p>
        <p>
            If you can find stream MASHUPS or you have some insufficient privileges issues please contact <u>Oleksiy Kozlov</u>
        </p>
        <h4>You have ALWAYS to perform:</h4>
        <ol>
            <li>
                <strong>update before delivering code;</strong>
            </li>
            <li>
                <strong>deliver after merge</strong>, inform affected team members if possible.
            </li>
        </ol>

        <h4>Initial (first) deliver</h4>
        <dl>
            <dt>Exclude</dt>
            <dd>*/_ReSharper.*|*.suo|*/bin|*/obj</dd>
            <dt>Include changes types</dt>
            <dd>All</dd>
        </dl>

        <h4>Download link</h4>
        <p>
            \\std-filerprd1\turnover\turnover\Dimensions\CM_14.1.0.1\Turnover4\dimensions_win32\Dimensions_CM_Clients_14.1.0.1.exe
        </p>
    </div>
</section>