<table class="envs">

    <thead>
    <tr>
        <th>Machine</th>
        <th>RLM Install</th>
        <th>SBM</th>
        <th>SRA Install</th>
        <th>SRA Server</th>
        <th>Database</th>
        <th>IIS</th>
        <th>URLs</th>
        <th>Last build</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div class="huge">stl-qa-oalmt1</div>
            <span class="smaller">Server 2003 R2 Enterprise SP2 x86</span>
        </td>
        <td>
            <div class="bigger">Upgrade</div>
            <span class="smaller">from 5.1.0.680 GA</span>
        </td>
        <td>
            <div class="bigger">10.1.4.1</div>
            <span class="smaller">Upgrade from 10.1.4 GA</span>
        </td>
        <td>
            <div class="big">Local</div>
            <span class="smaller">Daily build by SOO installer</span>
        </td>
        <td>
            <div class="big">Local</div>
            <span class="smaller">serena_ra/password</span>
        </td>
        <td>
            <div class="big">stl-qa-oalmt1db</div>
            <div>Oracle 11g</div>
            <div ng-repeat="cred in creds" class="smaller"></div>
            sbm2_2/manager@oalm
        </td>
        <td><span class="smaller">6.0</span></td>
        <td>
            <div><a ng-href="http://stl-qa-oalmt1/workcenter">SBM</a></div>
            <div><a ng-href="http://stl-qa-oalmt1:8085/mashupmgr">mashupmgr</a></div>
            <div><a ng-href="http://stl-qa-oalmt1/serena_ra/">SRA</a></div>
        </td>
        <td>
            <a ng-href="http://stl-qa-oalmsl:8080/job/QA_RLM_AUTOCONFIG_stl-qa-oalmt1__MAIN">
                <img src="http://stl-qa-oalmsl/status/QA_RLM_AUTOCONFIG_stl-qa-oalmt1__MAIN"/>
            </a></td>
    </tr>
    </tbody>
</table>