<table class="envs">

    <thead>
    <tr>
        <th>Machine</th>
        <th>Sol Install</th>
        <th>SBM</th>
        <!--th>SRA</th-->
        <th>Database</th>
        <th>IIS</th>
        <th>URLs</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="env in envs">
        <td>
            <div class="huge">{{env.name}}</div>
            <div class="smaller">{{env.os}}</div>
        </td>
        <td>
            <div class="bigger">{{env.sol.installType}}</div>
            <div class="smaller">{{env.sol.upgrade}}</div>
        </td>
        <td>
            <div class="bigger">{{env.sbm.version}}</div>
            <div class="smaller">{{env.sbm.upgrade ? 'Upgrade from ' + env.sbm.upgrade : null}}</div>
        </td>
        <!--td>
            <div class="big">{{env.sra.server}}</div>
            <div class="smaller">{{env.sra.serverDetails}}</div>
            <div class="smaller">Daily build by {{env.sra.installedBy}}</div>
        </td-->
        <td>
            <div class="big">{{env.database.hostname}}</div>
            <div>{{env.database.type}}</div>
            <div ng-repeat="cred in env.database.credentials" class="smaller">{{cred}}</div>
        </td>
        <td><span class="smaller">{{env.iis}}</span></td>
        <td>
            <div><a target="_blank" ng-href="http://{{env.name}}/workcenter">SBM</a></div>             
            <div><a target="_blank" ng-href="http://{{env.name}}:8085/mashupmgr">mashupmgr</a></div>   
            <div><a target="_blank" ng-href="http://{{env.name}}/serena_ra/">SRA</a></div>
        </td>
    </tr>
    </tbody>
</table>
