/**
 *  CSS3 Only Horizontal and Vertical Accordion
 *  Author: Paul Underwood for Hongkiat.com
 *  Website: www.paulund.co.uk
 *  Date: 27/11/11
 *  Version: 1.0
 */

/**
 *  Note by Mykola Grybyk
 *  Some adgjustments/fixes were made
 *  in order to work well based on my need
 */


/*Define Accordion box*/
 .accordion {
  width:auto;
  min-width:768px;
  overflow:hidden;
  margin:10px auto;
  color:#474747;
  background:#414141;
  padding:10px;
}
/*General Accordion****************************************************************************/

/*Set style of open slide*/
 .accordion section:target {
  background:#FFF;
  padding:10px;
}
.accordion section:target:hover {
  background:#FFF;
}
.accordion section:target h2 {
  margin-top: 0px;
  width:100%;
}
.accordion section:target h2 a {
  color:#333;
  padding:0;
}
.accordion section:target div.rlm-accordion-zone {
  display:block;
}
.accordion section h2 a {
  padding:8px 10px;
  display:block;
  font-size:16px;
  font-weight:normal;
  color:#eee;
  text-decoration:none;
}
/*set style of closed slide*/
 .accordion section {
  float:left;
  overflow:hidden;
  color:#333;
  cursor:pointer;
  background: #333;
  margin:2px;
}
.accordion section:hover {
  background:#444;
}
.accordion section div.rlm-accordion-zone {
  display:none;
}
.accordion section:after {
  position:relative;
  font-size:24px;
  color:#000;
  font-weight:bold;
}
/*
.accordion section:nth-child(1):after {
  content:'1';
}
.accordion section:nth-child(2):after {
  content:'2';
}
.accordion section:nth-child(3):after {
  content:'3';
}
.accordion section:nth-child(4):after {
  content:'4';
}
.accordion section:nth-child(5):after {
  content:'5';
}
*/

/*End General Accordion****************************************************************************/

/*Horizontal Accordion *********************************************************************/
 .horizontal section {
  width:3%;
  height:250px;
  -moz-transition:width 0.2s ease-out;
  -webkit-transition:width 0.2s ease-out;
  -o-transition:width 0.2s ease-out;
  -ms-transition:width 0.2s ease-out;
  transition:width 0.2s ease-out;
}
/*Position the number of the slide*/
 .horizontal section:after {
  top:140px;
  left:15px;
}
/*Header of closed slide*/
 .horizontal section h2 {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width:240px;
  position:relative;
  left:-105px;
  top:85px;
}
/*On mouse over open slide*/
 .horizontal :target {
  width:92%;
  /*73 - five*/
  /*height:230px;*/
}
.horizontal :target h2 {
  top:0px;
  left:0;
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
/*End Horizontal Accordion *********************************************************************/
