.env-plate {
    display: inline-block;


    border: 2px solid limegreen;
    border-radius: 10px;
    vertical-align: top;
    background-color: #90EE90;
    margin: 10px 0 0 10px;
    overflow: hidden;
}

.env-plate > div {
    float: left;
    text-align: center;
    height: 190px;
}

.env-plate .info {
    width: 170px;
    position: relative;
}

.env-plate .info .name {
    font-weight: bold;
    padding: 5px 0;
    margin: 1px 15px 10px;
    border-bottom: 1px solid green;
}

.env-plate .info > div {
    margin: 5px 0;
}

.env-plate .info .state {
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    border-top: 1px solid green;
    margin: 0 15px 1px;
    padding: 2px 0 0;
    font-weight: bold;
}

.env-plate .controlls {
    padding-top: 17px;
    width: 20px;
}

.env-plate .controlls > div {
    padding: 15px 0;
}

.env-plate .controlls a {
    color: #333;
}

.env-plate .controlls .fix a:hover {
    color: green;
}

.env-plate .controlls .fail a:hover {
    color: red;
}

.env-plate .controlls .lock a:hover {
    color: #ffff00;
}