.env-plate {
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    vertical-align: top;
    background-color: #eee;
    margin: 10px 0 0 10px;
    overflow: hidden;
}

.env-plate.ok {
    background-color: #90EE90;
    border-color: limegreen;
}

.env-plate.ok .info div {
    border-color: limegreen;
}

.env-plate.locked {
    background-color: #faf5af;
    border-color: darkkhaki;
}

.env-plate.locked .info div {
    border-color: darkkhaki;
}

.env-plate.building {
    background-color: #87cefa;
    border-color: #1e90ff;
}

.env-plate.building .info div {
    border-color: #1e90ff;
}

.env-plate.fail {
    background-color: indianred;
    border-color: darkred;
}

.env-plate.fail .info div {
    border-color: darkred;
}

.env-plate > div {
    float: left;
    text-align: center;
    height: 190px;
}

.env-plate .info {
    width: 170px;
    position: relative;
}

.env-plate .info .name {
    font-weight: bold;
    padding: 5px 0;
    margin: 1px 15px 10px;
    border-bottom: 1px solid #ccc;
}

.env-plate .info .name button {
    background: none;
    border: none;
}

.env-plate .info > div {
    margin: 5px 0;
}

.env-plate .info .state {
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    border-top: 1px solid #ccc;
    margin: 0 15px 1px;
    padding: 2px 0 0;
    font-weight: bold;
}

.env-plate .controlls {
    padding-top: 17px;
    width: 20px;
}

.env-plate .controlls > div {
    padding: 15px 0;
}

.env-plate .controlls a {
    color: #333;
}

.env-plate .controlls .fix a:hover {
    color: green;
}

.env-plate .controlls .fail a:hover {
    color: red;
}

.env-plate .controlls .lock a:hover {
    color: #ffff00;
}