.env-plate {
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    vertical-align: top;
    background-color: #eee;
    margin: 10px 0 0 10px;
    overflow: hidden;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.env-plate:hover {
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}

.env-plate.Ok {
    background-color: #90EE90;
    border-color: limegreen;
}

.env-plate.Ok .info div {
    border-color: limegreen;
}

.env-plate.Locked {
    background-color: #faf5af;
    border-color: darkkhaki;
}

.env-plate.Locked .info div {
    border-color: darkkhaki;
}

.env-plate.Building {
    background-color: #87cefa;
    border-color: #1e90ff;
}

.env-plate.Building .info div {
    border-color: #1e90ff;
}

.env-plate.Failed {
    background-color: indianred;
    border-color: darkred;
}

.env-plate.Failed .info div {
    border-color: darkred;
}

.env-plate > div {
    float: left;
    text-align: center;
    height: 210px;
}

.env-plate .info {
    width: 170px;
    position: relative;
}

.env-plate .info .name {
    font-weight: bold;
    padding: 2px 0;
    margin: 0;
}

.env-plate .info .name button {
    background: none;
    border: none;
    font-size: 25px;
    padding: 0;
    margin-left: -7px;
}

.env-plate .info .upgrade {
    border-top: 1px solid #ccc;
    margin: -1px 14px -1px 10px;
    padding-top: 3px;
    transition: border-color 0.5s ease;
}

.env-plate .info > div {
    margin: 5px 0;
}

.env-plate .info .details {
    height: 40px;
    bottom: 0px;
    border-top: 1px solid #ccc;
    margin: 0 14px 0 10px;
    padding: 1px 0 0;
    font-weight: bold;
    transition: border-color 0.5s ease;
}

.env-plate .info div.details div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    bottom: -20px;
}

.env-plate img {
    width: 32px;
    height: 32px;
}

.env-plate .controlls .state {
    position: relative;
    right: 10px;
    top: 3px;
}

.env-plate .controlls .locked {
    position: relative;
    bottom: -2px;
    right: 11px;
}

.env-plate .controlls .locked img {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

.env-plate .controlls .locked img.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

.env-plate .controlls {
    width: 22px;
}

.env-plate .controlls > div.controll {
    padding: 13px 9px 13px 0;
}

.env-plate .controlls a {
    color: #333;
}

.env-plate .controlls .fix a:hover {
    color: green;
}

.env-plate .controlls .fail a:hover {
    color: red;
}

.env-plate .controlls .lock a:hover {
    color: darkorange;
}

.env-plate.Locked .controlls .lock a:hover {
    color: blue;
}

.visibility-hidden {
    visibility: hidden;
}

/*** FORM ***/
#authModal h4 {
    font-weight: bold;
    font-size: 18px;
}

#authModal h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

#authModal .error {
    color: darkred;
}