/* Demo toolbar styles */
#toolbar {
    z-index: 2;
    background: #256C94;
    position: absolute;
    right: 0;
    left: 0;
    height: 37px;
}

#toolbar h2 {
    text-align: center;
    color: #fff;
    line-height: 0;
    font-size: 33px;
    margin: 20px 0 0 0;
}

#toolbar img {
    position: absolute;
    left: -15px;
    margin-top: 8px;
    height: 20px;
    transition: left 0.3s;
}

/* content */
.snap-content {
    background: #eee;
}

.snap-drawers {
    background: transparent;
}

snap-drawer {
    background: #fff;
    color: #000;
}

snap-drawer > h1 {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

snap-drawer li > a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    text-indent: 10px;
}

snap-drawer li.active > a {
    background: #1e90ff;
    color: #fff;
}

snap-drawer li:not(.active):hover > a {
    background: #87cefa;
}

snap-drawer li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

snap-drawer p {
    opacity: 0.5;
    padding: 15px;
    font-size: 12px;
}