html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.snap-content {

    top: 37px;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 2;
    overflow: auto;
    transform: translate3d(0, 0, 0);
}

.snapjs-left #toolbar img {
    left: -20px;
}

snap-drawer.snap-drawer-left {
    top: 37px;
}
